body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    font-size: 16px;
}
html{
    height: 100%;
}

.col-lg-4{
    /* border: rgb(202, 50, 50) 2px solid; */
   
}
.col-lg-3{
    /* border: black 2px solid; */
   
}
.col-lg-5{
    /* border: black 2px solid; */
   
}
.col-lg-2{
    /* border: black 2px solid; */
   
}
.center_align{
    text-align: center;
padding-top: 12px;
    font-size: 12px;
    border-left: 1px solid rgb(184, 175, 159) ;
}



.soical_icons{
    display: flex;
}
.icon_sty{
    
    margin-top: -1px;
    margin-bottom: -1px;
    font-size: 20px;
    color: rgb(184, 175, 159) !important;
border-left:rgb(184, 175, 159) 1px solid;
border-right: rgb(184, 175, 159) 1px solid;
}
.icon_sty:hover{
    background-color: rgb(184, 175, 159) ;
    color: rgb(202, 50, 50) !important ; 
}
@media (max-width:770px){
    .soical_icons{

        border-bottom: 1px solid rgb(184, 175, 159) ;
        justify-content: center;
 
    }

    .center_align{
        border-bottom: 1px solid rgb(184, 175, 159) ;
    }
}
.topnavlogo img{
 height: 80px;
 max-width: 250px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.topnavbgclr{
    background-color: rgb(244, 245, 244);
}
.searcharea{
    position: absolute;
    top: 56px;

}
.fa-search{
    position: relative;
    color: white;
    cursor: pointer;
    right: 180px ; 
    line-height: 1px;

}
#search-form {
    right: 200px ; 
}
.nav-link{
    color: white !important;
}
.nav-link{
  
    
color: #070705 !important ;

}
.nav-link{
color: white !important;
border-radius: 2px;
transition-duration: .55s;
}
.nav-link:hover{
    color: black !important;
    background-color: rgb(231, 227, 235);
 
}


.navbar-toggler-icon{
    color: white !important;
    background-color: white !important;
}
.navbar-toggler{
    color: white;
    background-color: white !important;
}
.navbar-toggler {
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white !important;
    background-color: white !important;
}
@media(max-width:991px){
    .fa-search{
        right: 18px ; 
        padding-left: 20px;
    }
    #search-form {
        right: 18px ; 
   
    }
}
@media(max-width:579px){
    
    #search-form {
        right: 0px ; 
   
    }
}
@media(max-width:575px){
    .homecontent{
        top: 7% !important;
       position: relative;

    }
    .maindiscount{
        margin-top: 20px;
    }
}
.bghome{
    border: 2px solid black;
    width: 100%;
    background-image: url(./img/banner.png);
    padding: 0px;
    margin: 0px;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homecontent{
    
    padding-top: 10%;
   position: relative;
   padding-bottom: 10%;
}
@media (max-width:375px){
    .mainheading h1{
        font-weight: normal !important;
        font-size: 25px !important;
     }
     .dicountheading h1{
         font-size: 25px !important;
     }
}
.mainheading{
    float: right;
    width: 70%;
    color: #fff;

    
font-family: Arial, Helvetica, sans-serif;

}
.mainheading h1{
    
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}
.btncontactus{
color: #da2525;
background-color: #fff;
border-radius: 4px ;
width: 120px;
height: 50px;
line-height: 40px;
box-shadow: none;
font-weight: 700;


}
.btncontactus:hover{
    background-color: #da2525;
    color: #fff;
}
.homecontent p{
    font-size: 16px;
    line-height: 20px;
}
.maindiscount{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}
.dicountheading{
    padding: 10px;
    
    border-bottom: 1px solid #666;
    text-align: center;
    
}
.dicountheading span{
    color: #da2525;
}
.discountform{
    padding: 10px;
}
.dicountheading h1{
    font-size: 30px;
    color: #000;
}

.btndiscount{
padding-left: 20px;
padding-right: 20px;    
}
.btncontainer{
    padding-top: 20px;
    text-align: center;
}
@media (max-width:731px){
    .mainheading{
        float: none;
        background-color: #666;
        width: 100%;
    
    }
}